<div class = “confirmation”>
   <h4 class=“fas fa-cancel-circle” > You’ve successfully booked the meal!</h4>
   <h5>Below are the details of your order:</h5>
   <h5>Your meal: <%= Meal.find(params[:meal_id]).name %></h5>
   <h5>Price: <%= Meal.find(params[:meal_id]).price %></h5>
   <h5>Host: <%= Meal.find(params[:meal_id]).user.name %></h5>
   <h5>We’ve sent contact information of the gost to your email inbox.</h5>
   <h5>Please say hello to your host!</h5>
   <h5>Enjoy your meal!</h5>
</div>
