<div class="column">
  <!-- Post-->
  <div class="post-module">
    <!-- Thumbnail-->
    <div class="thumbnail">
      <img src="https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=304a04115ffd171fdcc04a834afff74c&auto=format&fit=crop&w=1950&q=80"/>
    </div>
    <!-- Post Content-->
    <div class="post-content">
      <div class="category"><%= link_to meal.user.name, host_path(meal.user) %></div>
      <h1 class="title"><%= link_to meal.name, meal %></h1>
      <h2 class="sub_title"><%= meal.category %></h2>
      <p class="description"><%= meal.description %></p>
    </div>
  </div>
</div>