<h1>Explore Explore food categories</h1>
<div class="container">
  <div class="row">
    <br>
    <% @meals.each do |meal| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'shared/card', meal: meal %>
      </div>
    <% end %>
  </div>
</div>