@import 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-97/variables.less';
@import 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/mixins.less';
@accent: #e74c3c;
@container_width: 800px;

body {
  background: darken(white, 5%);
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.post-module,


.hover {
  position: relative;
  z-index: 1;
  display: block;
  background: white;
  min-width: 270px;
  height: 360px;
  .box-shadow: 0px 0px 0px 0px;
  transition: width 0s;
  &:hover {
    .box-shadow: 0px 0px 35px fade(black, 30%);
    .thumbnail {
      img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .6;
      }
    }
    .post-content {
    }
  }
  .thumbnail {
    padding: 0px;
    background: light_gray;
    height: 360px;
    overflow: hidden;
    .date {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
      background: #8dc73d;
      width: 55px;
      height: 55px;
      padding: 12.5px 0;
      border-radius:100%;
      color: white;
      font-weight: 700;
      text-align: center;
      .box-size: 20px;
      .day {
        font-size: 18px;
      }
      .month {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    img {
      display: block;
      width: 120%;
      transition: width 2s;
    }
  }
  .post-content {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: cubic-bezier(.37,.75,.61,1.05);
    .category {
      position: absolute;
      top: -40px;
      left: 0;
      background: #8dc73d;
      padding: 10px 15px;
      color: white;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .title {
      margin: 0;
      padding: 0 0 10px;
      color: dark_gray;
      font-size: 26px;
      font-weight: 700;
    }
    .sub_title {
      margin: 0;
      padding: 0 0 20px;
      color: #8dc73d;
      font-size: 20px;
      font-weight: 400;
      padding-left: 60px;
      padding-top: 13px;
    }
    .description {
      display: none;
      color: gray;
      font-size: 14px;
      line-height: 1.8em;
    }
    .post-meta {
      margin: 30px 0 0;
      color: light_gray;
      .timestamp {
        margin: 0 16px 0 0;
      }
      a {
        color: light_gray;
        text-decoration: none;
      }
    }
  }
}

.card-description p {
  padding-left: 160px;
}

.card-user {
  position: absolute;
  left: 28px;
  top: 62px;
  width: 40px;
  border-radius: 50%;
}

.meal-picture {
  position: absolute;
  left: 35px;
  top: 23px;
  width: 120px;
}

.user-picture {
  position: absolute;
  left: 35px;
  top: 200px;
  width: 120px;
}

.card-padding {
  padding-bottom: 30px;
}

.sub_title a {
  color: black !important;
}

.title a {
  color: #8dc73d !important;
  font-size: 22px;
}

.hover {
  .post-content {
    .description {
      display: block !important;
      height: auto !important;
      opacity: 1 !important;
    }
  }
}

.padding-bottom {
  padding-bottom: 18px;
}
.padding-top {
  padding-top: 20px;
}
.padding-top-45 {
  padding-top: 45px;
}

.padding-top-132 {
  padding-top: 132px;
}

.padding-left-50 {
  padding-left: 50px;
}

.profile-padding {
  padding: 60px;
  padding-bottom: 0px;
}

.email-padding {
  padding-left: 60px;
}

.profile-picture-padding {
  padding-top: 40px;
  padding-left: 60px;
}

.title-padding {
  padding-left: 575px;
  padding-top: 50px;
  padding-bottom: 10px;
}



.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card2 {
  height: 379px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  left: 140px;
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}

.card3 {
  height: 379px;
  width: 800px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  left: 140px;
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}

.cardsignup {
  width: 400px;
  border-radius: 5px ;
  background-size: cover;
  background-position: center;
  color: #616668;
  position: relative;
  background: white;                          /* White background */
  padding: 20px;                              /* Internal space */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}

.cardlogin {
  width: 400px;
  background-size: cover;
  border-radius: 5px ;
  background-position: center;
  color: #616668;
  position: relative;
  background: white;                          /* White background */
  padding: 20px;                              /* Internal space */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  padding: 30px;
}

.profile2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 30% 40%;
  height: calc(100vh - 70px);
  padding: 30px;
}

.profile .main1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.profile .main2 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}
.profile .description1 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}
.profile .description2 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

.profile .main3 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.profile .description3 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}
.profile .main4 {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}
.profile .description4 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}
.profile2 .main5 {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}
.profile2 .description5 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}

.profile2 .description6 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
}

.main2, .description1, .description2, .main4, .description3, .description4, .stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.main5 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.description3 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.description5 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 430px;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.description5 a {
  font-size: 12px;
}

.description7 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 35px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 430px;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.description7 a {
  font-size: 17px;
}

.description8 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 35px;
  margin: 20px;
  width: 430px;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.description8 a {
  font-size: 17px;
}

.description6 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.main1 {
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 520px;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.main3 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 480px;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

/* Fonts and colors */
.profile h2 {
  font-size: 22px;
}
.profile h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile p {
  color: rgba(0,0,0,0.6);
}
.profile .btn {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 10px;
  background: #8dc73d;
}
.profile .btn:hover {
  background: #8dc73d;
  opacity: 0.7;
}
.stat h3 {
  color: #8dc73d;
  font-size: 28px;
}
.stat p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}
.description1 h3, .description3 h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.description1 p, .description3 p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}
.description2 h3, .description4 h3, .description5 h3, .description7 h3, .description8 h3, .description6 h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.description2 p, .description4 p, .description5 p, .description7 p, .description8 h3, .description6 p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}


.confirmation {
 background: #109648;
 color: white;
 box-shadow: 0 0 10px rgba(0,0,0,0.2);
 padding: 0px;
 text-align: left;
 margin: 180px 330px;
 display: flex;
 border-radius: 4px;
}

.font-color {
  color: #8dc73d;
}

.green a {
  color: #8dc73d;
}

#font-white-book {
  color: white;
}
.profile-container {
  display: flex;
}

.host-container {
  display: flex;
}

#profile-id {
  width: 400px;
  flex: 0 0 450px;
  height: calc(100vh - 120px);
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.margin-top-0 {
  margin-top: 0;
}

#profile-table th {
  padding-right: 15px;
  text-align: center;
}
