.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper-main-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-design {
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}

.width {
  width: 30px;
}
.font-color {
  font-color: #8dc73d;
}

.font-size-20 {
  font-size: 20px;
}

.wrapper-img {
  background-image: url('https://images.unsplash.com/photo-1518425763091-657cd6c2ab28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=5d57c6d399edd382762349cff3979446&auto=format&fit=crop&w=2758&q=80');
}

.banner {
  color: white;
  text-align: center;
  height: 35vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.text-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #8dc73d;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  color: yellow;
  text-decoration: none;
}
