.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper3 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.wrapper4 {
  height: 100vh;
}
.wrapper-main-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-design {
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}
.width {
  width: 30px;
}
.font-color {
  font-color: #8dc73d;
}

.font-size-20 {
  font-size: 20px;
}

.wrapper-img {
  background-image: url('https://images.unsplash.com/photo-1518425763091-657cd6c2ab28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=5d57c6d399edd382762349cff3979446&auto=format&fit=crop&w=2758&q=80');
}

.wrapper-img2 {
  background-image: url('https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67dd7ad246d72646456ea1d02a6e9210&auto=format&fit=crop&w=1954&q=80');
}

.wrapper-img3 {
  background-image: url('https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67dd7ad246d72646456ea1d02a6e9210&auto=format&fit=crop&w=1954&q=80');
}

.text-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}


.col-form-label{
  margin-bottom: 15px;
}

.profile-margin-top {
  margin-top: 30px;
}

.profile-margin-top2 {
  margin-top: 50px;
}

.meal-card-description {
  display: flex;
  justify-content: space-between;
}
.meals-card-description-margin-left {
  margin-left: 20px;
}
.meals-card-description-padding-top {
  margin-top: 5px;
}

.delete-margin-left {
  margin-left: 3px;
}
