
.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 2px 2px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #8dc73d;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  color: yellow;
  text-decoration: none;
}

.btn a {
  color:white;
}

.btn-signup, .btn-login {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
