
.login-in-background-img {
  background-image: url('https://i.pinimg.com/originals/fc/c8/a3/fcc8a37209c000c73d3ad2a17f093b79.jpg');
  background-size: cover;
}

.signup-background-img {
  background-image: url('https://i.pinimg.com/originals/fc/c8/a3/fcc8a37209c000c73d3ad2a17f093b79.jpg');
}
